<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h1 style="margin-left:60px;">Edit <%= resource_name.to_s.humanize %></h1>
    <hr>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>


      <div style="margin-left:60px;"> 
        <% if customer_signed_in? %>
          <% if current_customer.profile_image.attached? %>
              <%= image_tag(current_customer.profile_image,:class=> "image_edit")%>
      
          <% else %>
              <%= image_tag("https://p7.hiclipart.com/preview/749/84/910/chef-cooking-vector-chef-hat.jpg", size: "100x100",style: "float:left;margin:20px;border-radius: 100px;" ) %>
          <% end %>
        <% else %>
          <% if current_chef.profile_image.attached? %>
              <%= image_tag(current_chef.profile_image,:class=> "image_edit")%>
      
          <% else %>
              <%= image_tag("https://p7.hiclipart.com/preview/749/84/910/chef-cooking-vector-chef-hat.jpg", size: "100x100",style: "float:left;margin:20px;border-radius: 100px;" ) %>
          <% end %>

        <% end %>
      </div>
       <h3 style="margin-left:65px;color:#8e2731; ">Edit profile Image<br></h3>
      <div class="form-group", style="margin-left: 70px;">
       
       <%= f.file_field :profile_image %>
      </div>
 
      <div class="form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, class: 'form-control'  %>
      </div>


      <div class="form-group">
        <%= f.label :middle_name %><br />
        <%= f.text_field :middle_name, class: 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, class: 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :mobile_number %><br />
        <%= f.number_field :mobile_number, class: 'form-control' %>
      </div>


      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :address %><br />
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :city %><br />
        <%= f.text_field :city, class: 'form-control' %>
      </div>

       <div class="form-group">
        <%= f.label :state %><br />
        <%= f.text_field :state, class: 'form-control' %>
      </div>


      <div class="form-group">
        <%= f.label :country %><br />
        <%= f.text_field :country, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :pincode %><br />
        <%= f.number_field :pincode, class: 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
       <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" , class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.submit "Update", class: 'btn btn-sm btn-block btn-primary' %>
      </div>
    <% end %>
    <hr>

    <h2>Cancel my account</h2>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure? You cannot undo this." }, method: :delete %></p>

    <%= link_to "Back", :back %>
    <hr>
  </div>
</div>
