<script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1"></script>
<html>
<head>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=<%= Rails.application.credentials[:google_maps_api_key]%>"></script>
</head>

<body class="customer-index">
<% if user_signed_in? %>
 
    <% if current_user.is_chef == false %>

        <div class="search-wrapper">
            <div class="home-made-heading">
                <h1>
                    Fresh. Delicious. Homemade
                <span>Food Delivered</span>
                </h1>
            </div>
            <%= form_for "",url: subscriptions_path, method: :get,:class=> "form-inline d-flex justify-content-center md-form form-sm" do %>
    	   <%= text_field_tag :search,@search_term,placeholder:'Type your delivery location or area...'%>
           <p class="happy">HAPPINESS IS HOMEMADE</p>
           <% end %>
        </div>
    <% else %>
        <%= render template: 'visitors/chef_home' %>

    <% end %>

<% else %>
    
     <%= render template: 'visitors/home' %>

<% end %>
   

 </body>

<!--
<script>
    var searchInput = 'search';
    var autocomplete;
    $(document).ready(function () {
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            types: ['geocode'],
            componentRestrictions: {'country': ['IND']},
            fields: ['place_id','geometry','name'],
        });
        
    });
</script>
-->
</html>

<script>
  var placesAutocomplete = places({
    appId: "plSCCF6JX22J",
    apiKey: "b27eb8a3c03798cdc66b504cd851ff4d",
    restrictSearchableAttributes: "postcode",
    container: document.querySelector('#search')
  });

</script>
