<% if @customer_subscriptions.empty? %>
		<h1 class="no_subscriptions"> You haven't Subscribed Yet </h1>

<% end %>

<span class="your_subscription_tag"> Your Subscriptions </span>

<% @customer_subscriptions.reverse_each do |cs| %>


	<% days_left=0 %>
 	<% time=Time.diff(cs.created_at , DateTime.current) %>
	<% if (time[:year].to_i==0  and time[:month]==0 and time[:month]==0 and time[:week]==0 and time[:day]<=6 ) or (time[:year].to_i==0  and time[:month]==0 and time[:month]==0 and time[:week]==1 and time[:day]==0) %>
			<% status="Ongoing" %>
			<% if time[:week]==0 and time[:day]<=6 %>
				<% days_left=7-time[:day] %>
			<% end %>
	<% else %> 

			<% status="Expired" %>
			
	<% end %>



	<div class="box">


    	<h4><span class= "order" >  Subscription # 00<%= Time.zone.now.year %><%= cs.id %> </span>
    	 <span class="days_left"> <%= days_left %> Days left </span>
    	</h4>
    	
		<% @subs= Subscription.find(cs.subscription_id) %>
		<% @chef= Chef.find(@subs.chef_id) %>
		<h2> </h2>
		<h2><%= @chef.first_name %>'s' Kitchen </h2>
		<span class="date"> <h5><%= cs.created_at %></h5> </span>

		<h1> </h1>
		<h1> </h1>

		<h3>
	    	<span class="price" >₹ <%= @subs.total_price %></span><br><br>

				<%= button_to 'Subscription Details',customer_subscription_path(cs), class: "btn btn-md btn-primary" , method: :get %>
		
		</h3>

	
	
		
	</div>
	<br><br>
<% end %>


