<% if @subscription.lunch.empty? %>
    <% customer_subscription_type="Breakfast and Dinner" %>
<% else %>
    <% customer_subscription_type="Breakfast , Lunch , and Dinner" %>
<% end %>

<div class="head_outer1">

  <div class="head_outer2" >
    <div class="head_inner" >
      
      <h1 class="head_outer3">Subscription Details</h1>
    </div>   

  </div>
  
  <div class="box_outer">
    <div class="box_inner">
      <h3 class="name">Dear <%= current_user.first_name %>, </h3>
      <hr>
      <h3 class="weekly_subscription_tag">Your Weekly Subscription details</h3>
      <hr>
      <table class="table_">
        <tr class="row_">
          <td class="column_">Subscribed On: </td>
          <td class="column2"><%=@customer_subscription.created_at %></td>
        </tr>
        <tr class="row_">
          <td class="column_">Subscription Upto:</td>
          <td class="column2"><%=@customer_subscription.created_at + 7.days%></td>
        </tr>
        <tr class="row_">
          <td class="column_">Subscription Type:</td>
          <td class="column2"><%= customer_subscription_type %> </td>
        </tr>
      </table>
      <hr>
        <h3 class="header_">Chef details.</h3>
       <hr>
        <table class="table_">
          <tr class="row_">
            <td class="column_">Name:</td>
            <td class="column2"><%= @chef.first_name %></td>
          </tr>
          <tr class="row_">
            <td class="column_">Email:</td>
           <td class="column2"><%= @chef.email %></td>
          </tr>
          <tr class="row_">
            <td class="column_">Phone:</td>
            <td class="column2"><%= @chef.mobile_number %></td>
          </tr>
          <tr>
            <td class="column_">Address:</td>
            <td class="column2"><%= @chef.address %></td>
          </tr>
      
          <tr>
            <td class="column_">City:</td>
            <td class="column2"><%= @chef.city%></td>
          </tr>
          <tr>
            <td class="column_">State:</td>
            <td class="column2"><%= @chef.state %></td>
          </tr>
          <tr>
            <td class="column_">Pincode:</td>
            <td class="column2"><%= @chef.pincode %></td>
          </tr>
        </table>
       
 
        <hr>
        <h3 class="header_">Menu</h3>
        <hr>

            <div class="row">
            
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                    <div class="menu-block">
                        <h3 class="menu-title">BREAKFAST</h3>
                        <div class="menu-content">
                            <div class="row">
                            
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">SUNDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.breakfast[:sunday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="menu-content">
                            <div class="row">
                                     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">MONDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.breakfast[:monday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="menu-content">
                            <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">TUESDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.breakfast[:tuesday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>

                        <div class="menu-content">
                            <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">WEDNESDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.breakfast[:wednesday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>

                        <div class="menu-content">
                            <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">THURSDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.breakfast[:thursday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>


                        <div class="menu-content">
                            <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">FRIDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.breakfast[:friday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>

                        <div class="menu-content">
                            <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">SATURDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.breakfast[:saturday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>




                    </div>
                </div>
               
                <% if @subscription.lunch.empty? ==false %>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                    <div class="menu-block">
                        <h3 class="menu-title">LUNCH</h3>
                        <div class="menu-content">
                             <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">SUNDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.lunch[:sunday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="menu-content">
                            <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">MONDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.lunch[:monday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="menu-content">
                 			<div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">TUESDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.lunch[:tuesday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>

                         <div class="menu-content">
                 			<div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">WEDNESDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.lunch[:wednesday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                         <div class="menu-content">
                 			<div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">THURSDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.lunch[:thursday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>

                        <div class="menu-content">
                 			<div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">FRIDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.lunch[:friday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>

                         <div class="menu-content">
                 			<div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">SATURDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.lunch[:saturday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>

                    </div>
                </div>
               	<% end %>
               
                
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                    <div class="menu-block">
                        <h3 class="menu-title">DINNER</h3>
                        <div class="menu-content">
                 			<div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">SUNDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.dinner[:sunday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="menu-content">
                            <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">MONDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.dinner[:monday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="menu-content">
                            <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">TUESDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.dinner[:tuesday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="menu-content">
                            <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">WEDNESDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.dinner[:wednesday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
              
                        <div class="menu-content">
                            <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">THURSDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.dinner[:thursday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="menu-content">
                            <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">FRIDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.dinner[:friday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="menu-content">
                            <div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title"><a href="#">SATURDAY</a></h5>
                                        <span class="dish-meta"><%= @subscription.dinner[:saturday]%></span>
                                        <div class="dish-price">
                                    </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
           </div>
    </div>
    
</div>
</div>

   </div>
       
  </div>
