<html>
<body>
<div class="cont">
	<div class="l-half">
		<div class="jumbotron">
  			<h1 class="display-4">For Chef</h1>
  			<p class="lead">Turn your passion into profit, make cooking a steady source of income</p>
  			<p>Sign up to be a part of the our chef network and earn money from home cooking..</p>
  			<%= button_to "SignUp" , new_chef_registration_path ,method: :get,class: "btn btn-primary"%>
  			<br />
		</div>
	</div>	
	<div class="r-half">
		<div class="jumbotron">
			<h1 class="display-4">For Customer</h1>
  			<p class="lead">For someone craving for home made delicacies, <b> HomeMade</b> is just for you. Find near by chef in your Area </p>
  			<p>Sign up AND enjoy home made delicious food</p>
  			<%= button_to "SignUp" , new_customer_registration_path ,method: :get,class: "btn btn-primary"%><br />
  		</div>
	</div>
</div>

 <div class="starter-template">
    <div class="container">
      <%if notice %><div class ="alert alert-info"> <%= notice %></div> 
      <% end %>
       <%if alert %><div class ="alert alert-warning"> <%= alert %></div> 
      <% end %>
       <%= yield %>
    </div>
  </div>

</body>
</html>
