<html>
<% @home_restarants.each do |h| %>


	<div class="box"> 

		<% if h.profile_image.attached? %>
			<%= image_tag(h.profile_image, size: "90x90",style: "float:left;margin:20px" )%>
			
		<% else %>
			<%= image_tag("https://p7.hiclipart.com/preview/749/84/910/chef-cooking-vector-chef-hat.jpg", size: "90x90",style: "float:left;margin:20px" ) %><
		<% end %>
		<br>
		<h2 style="float: left"><%= captilize_first_letter(h) %>'s Home Kitchen <br><span class="city"><span class="city"> <%=h.city.downcase%> </span></h2>
		
		
		<br>
	    <br>
	    <br>
	    <br>
	  
	    <hr>
	    <h4> <span class="address" > ADDRESS :  </span> <%= h.address  %> <%= h.city %> <%= h.state %> <%= h.pincode %></h4>
	    <h4> <span class="contact_no" > CONTACT NO. : </span> <%= h.mobile_number %></h4>
	    <h4> <span class="email_id" > EMAIL ID : </span> <%= h.email %></h4>

	    <hr>
		<%= link_to 'view subscriptions', list_subscriptions_path(h),:class =>'btn btn-md btn-primary'  %>
		
	</div>

	

<% end %>
</html>
